mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center`)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                //- 이미 템플릿에서 user 정보를 받고 있기 때문에
                //- 더블 populate를 하지 않아도(owner정보 상관 없이)username 표기 가능
                span #{video.owner.username || user.username} •
                span #{video.meta.views}회

//- mixin video(video)
//-     a(href=`/videos/${video.id}`).video-mixin
//-         div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center;`)
//-         div.video-mixin__data
//-             span.video-mixin__title=video.title
//-             div.video-mixin__meta
//-                 span #{video.owner.name} • 
//-                 span #{video.meta.views} 회             

        //- h4
        //-     //- a(href="/videos/" + videoInfo.id)=videoInfo.title
        //-     a(href=`/videos/${video.id}`)=video.title
        //- p=video.description
        //- ul
        //-     each hashtags in video.hashtags
        //-         li=hashtags
        //- small=video.createdAt
        //- hr